.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 5px;
  border: 2px solid;
  background-color: rgba(212, 242, 240, 0.831);
}

.Header {
  padding: 5px;
  font-family: sans-serif;
  border-bottom: 2px solid rgba(0, 255, 255, 0.577);
  /* background-color: rgba(195, 244, 240, 0.831); */
  /* border: 1px solid; */
}

.QuestionaireList {
  text-align: left;
}

.AnswerItem {
  border-top: 2px solid grey;
  padding: 5px;
}

.AnswerItem:last-child {
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

input {
  margin: 5px;
}

.correct {
  background-color: rgba(138, 218, 138, 0.927);
}

label.correctCount {
  padding-left: 5px;
  border-left: 2px solid;
}

label.quesionsCount {
  padding-right: 5px;
}

.incorrect {
  background-color: rgba(235, 125, 125, 0.701);
}

header {
  margin: 40px;
}
